body {
    width: 80%;
    margin: auto;
}


h1{
    display: inline-block;
    margin-right: 760px;

}
nav {
    display: inline-block;
    text-align: center;
    margin-right: 16px;
}

a{
    text-decoration: none;
    font-size: 20px;
}

main {
    display: flex;
    margin: auto;
    width: 40%;
    margin-top: 25px;
    
}

h2{
    margin-top: 0px;
}

p{
    width: 300px;
}


img {
    width: 200px;
    margin-left: 15px;
}
footer {
    /* text-align: center; */
    margin: 25px;
    margin-top: 50px;
}